.map-wrapper {
  position: relative;
  padding: 5px;
  user-select: none;
}
.map-wrapper .map-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
  content: '';
}
.map-wrapper .map-container {
  position: relative;
  overflow: hidden;
}
.map-wrapper .map-container .map-drag {
  cursor: move;
}
.map-wrapper .map-container .map-drag .map-overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.map-wrapper .map-container .map-drag .map-overlay .Nation {
  pointer-events: all;
  fill: none;
  stroke: #c81919;
  stroke-opacity: 0.75;
  stroke-width: 3px;
  cursor: pointer;
}
.map-wrapper .map-container .map-drag .map-overlay .Nation.hover {
  fill: black;
  fill-opacity: 0.5;
}
.map-wrapper .map-container .map-drag .map-overlay .Nation.active {
  fill: black;
  fill-opacity: 0.5;
  stroke-opacity: 1;
}
.map-wrapper .map-container .map-drag .map-overlay .Nation.active.hover {
  fill-opacity: 0.75;
}
.map-wrapper .map-container .map-drag .map-overlay .Nation.search-match {
  stroke-opacity: 1;
}
.map-wrapper .map-container .map-drag .map-overlay .Nation.search-no-match {
  stroke-opacity: 0.25;
}
.map-wrapper .map-container .map-drag .map-overlay .City-State {
  pointer-events: all;
  fill: #c81919;
  fill-opacity: 0.75;
  stroke: none;
  stroke-width: 2px;
  cursor: pointer;
}
.map-wrapper .map-container .map-drag .map-overlay .City-State.hover {
  fill: black;
  fill-opacity: 0.5;
  stroke: #c81919;
  stroke-opacity: 0.75;
}
.map-wrapper .map-container .map-drag .map-overlay .City-State.active {
  fill: black;
  fill-opacity: 0.5;
  stroke: #c81919;
  stroke-opacity: 1;
}
.map-wrapper .map-container .map-drag .map-overlay .City-State.active.hover {
  fill-opacity: 0.75;
}
.map-wrapper .map-container .map-drag .map-overlay .City-State.search-match {
  fill-opacity: 1;
}
.map-wrapper .map-container .map-drag .map-overlay .City-State.search-no-match {
  fill-opacity: 0.25;
}

#map-places-list .place.hover {
  background: #909090;
}

.aside-left {
  box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.75);
  background: #F0F0F0;
}

.aside-right .tab-content {
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  box-shadow: -5px 0px 5px 0px rgba(50, 50, 50, 0.75);
  background: #F0F0F0;
}
