#page-wrapper {
    margin-top: 55px
}

.entity {
    padding: 0.5em;

    a {
        color: #05375E;
        display: block;
        padding: 0.5em;
        border: 1px solid #DDDDDD;
        box-shadow: 1px 1px 5px 0 #A2958A;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #CCCCCC;
            box-shadow: 2px 2px 5px 0 #333333;
        }
    }

    img {
        margin: 0 auto;
    }

    img,
    .fa-stack {
        height: 150px;
    }
}



.image-detail img {
    height: 200px;
    float: right;
}


.thumb {
    width: 50px;
    height: 50px;
}
