<h2 class='well'>
    Welcome to Mapster<br>
    <small>The map collaboration tool. Please select a universe.</small>
</h2>

<div class='row'>
    {{item-list items=model.universes link='universe' limit=16}}
</div>
